div {
    width: 200px;
    height: 200px;
}

.container {
    border: 5px solid red;
    margin: 50px;
}

.transformed {
    background-color: greenyellow;
    
    transition: transform 1s ease-in-out;
}

.transformed:hover {
    transform: rotateZ(45deg);
}