div {
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    margin: 50px;
    transition: trasnform 1s ease-in-out;
}

div:hover {
    transform: rotate(90deg) scale(2) translateX(50px);
}