div {
    background-color: rgb(146, 146, 146);
    height: 200px;
    width: 200px;
    margin: 50px;
    animation: move 3s infinite;
}

@keyframes move {
    from {
        transform: rotate(9deg);
    }
    to {
        transform: rotate(360deg);
    }
}
   