body {
    display: flex;
}

div {
    width: 200px;
    height: 200px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    display: flex;
}

#second {
    background-color: seagreen;
}