html, body{
  height: 100%;
}

body {
  display: flex;

  align-items: end;
  
  
}
div {
  width: 200px;
  height: 200px;
  background-color: red;
}
#second {
  width: 200px;
  height: 400px;
  background-color: black;
}