body {
    height: 1000vh;
}

div {
    width: 200px;
    height: 200px;
    background-color: tomato;
    position: static;
}

#second {
    background-color: seagreen;
    position: fixed;
}
h3 {
    position: absolute;
    top: 450px;
}

p {
    position: absolute;
    top: 500px;
}