div {
    background-color: lightblue;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    margin: 5px;
    transition: transform 1s ease-in-out;
}
div:hover {
    transform: rotate(90deg) scale(2) translateX(50px);
}