.new-sign::after {
    content: " New!";
    color: red;
}
.box {
    width: 400px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
}
.box::after {
    content: "";
    width: 400px;
    height: 100px;
    background-color: brown;
    top: 110px;
    position: absolute;
}
input:checked {
    box-shadow: 0 0 0 3px hotpink;
}